* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header {
	border-bottom: 1px solid #f2f2f2;

	&__inner {
		margin: auto;
		height: 48px;
		display: flex;
		justify-content: center;
	}

	&__logo {
		flex-basis: 146px;
		height: 48px;
		text-decoration: none;
		background: url(imgs/logo-header.png) no-repeat 0 50%;
	}

	&__phones {
		flex-basis: 146px;
		background: url(imgs/phone-black.png) no-repeat 9px 50%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 7px 0 7px 36px;
		position: relative;
		font-family: FuturaDemiC;

		&:before {
			content: '';
			position: absolute;
			width: 1px;
			height: 25px;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			border: 1px solid #f5f5f5;
		}

		&-phone {
			text-decoration: none;
			color: #262324;
			font-size: 11px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__nav {
		flex-basis: 260px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-left: 1px solid #f5f5f5;
		font-family: FuturaNewBold;

		&-a {
			font-size: 11px;
			color: #262324;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: #f58220;
			}
		}
	}
}

.account {
	display: flex;
	flex-basis: 341px;

	&__avatar {
		flex-basis: 48px;
		height: 48px;

		&-img {
			vertical-align: top;
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}

	&__link {
		display: flex;
		flex-basis: 112px;
		color: #262324;
		border-right: 1px solid #f5f5f5;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
		align-items: center;
		justify-content: center;
		font-family: FuturaNewBold;

		&:hover {
			color: #f58220;
		}
	}

	&__basket {
		flex-basis: 181px;
		padding: 0 0 0 48px;
		text-align: left;
		border: none;
		border-right: 1px solid #f5f5f5;
		background: url(imgs/basket-black.png) no-repeat 19px 50%;
		font-family: FuturaNewBold;
		text-transform: uppercase;
		cursor: pointer;

		&:hover {
			color: #f58220;
		}
	}

	&__currency {
		font-family: PTRoubleSans;
	}
}

.search {
	border-right: 1px solid #f5f5f5;
	flex-basis: 49px;

	&__button {
		padding: 0;
		border: none;
		background: url(imgs/search-black.png) no-repeat 50% 50%;
		width: 48px;
		height: 48px;
	}

	&__input {
		display: none;
	}
}

.toppanel {
	position: relative;
	max-width: 1136px;
	margin: auto;
	padding: 34px 0 27px;
}

.breadcrumbs {
	text-align: center;

	&__link {
		color: #c9c8c8;
		position: relative;
		font-size: 13px;
		font-family: FuturaNewBook;

		&:after {
			content: '\2192';
			position: absolute;
			right: -18px;
			bottom: -1px;
		}
	}

	&__current {
		font-size: 30px;
		font-family: Lora;
	}
}

.view {
	display: flex;
	position: absolute;
	width: 168px;
	right: 0;
	bottom: 30px;

	&__button {
		background-color: transparent;
		padding: 0;
		height: 25px;
		border-style: solid;
		border-color: #bfbfbf;
		background-position: 50% 0;
		background-repeat: no-repeat;

		&:hover {
			opacity: 0.8;
		}

		&_active {
			background-position: 50% -25px;
		}

		&_list {
			border-width: 1px 0 1px 1px;
			flex-basis: 42px;
			border-radius: 12px 0 0 12px;
			background-image: url(imgs/view-list.png);
		}

		&_large {
			border-width: 1px;
			flex-basis: 41px;
			background-image: url(imgs/view-large.png);
		}

		&_medium {
			border-width: 1px 1px 1px 0;
			flex-basis: 40px;
			background-image: url(imgs/view-medium.png);
		}

		&_small {
			border-width: 1px 1px 1px 0;
			flex-basis: 45px;
			border-radius: 0 12px 12px 0;
			background-image: url(imgs/view-small.png);
		}
	}
}

.bodycontainer {
	display: flex;
	padding: 0 32px;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}

.aside {
	flex-basis: 216px;
	max-width: 216px;
	margin-right: 25px;

	&__item-header {
		background-color: #70aa20;
		border-radius: 2px 2px 0 0;
		color: #fff;
		padding-left: 20px;
		font-family: FuturaDemiC;
		line-height: 38px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
		cursor: pointer;

		&:after {
			content: '';
			width: 4px;
			height: 4px;
			border-style: solid;
			border-width: 1px 0 0 1px;
			border-color: #fff;
			position: absolute;
			top: 0;
			right: 15px;
			bottom: 0;
			margin: auto;
			transform: rotate(45deg);
		}

		&_hidden:after {
			transform: rotate(-135deg);
		}
	}

	&__text {
		font-size: 13px;
		font-family: FuturaNewBook;
		margin: 29px 0;
	}
}

.price {
	width: 216px;
	height: 70px;
	border: 1px solid #685040;
	font-size: 12px;
	font-family: FuturaDemiC;
	background: url(imgs/price-brown.png) no-repeat 16px 16px;
	border-radius: 2px;
	color: #685040;
	padding: 0 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 25px;
}

.dimension {
	padding: 14px 0 31px;
	background-color: #f2f2f2;

	&__slider {
		margin-top: 21px;
		padding-left: 20px;

		&-road {
			background-color: #d9d9d9;
			width: 175px;
			height: 3px;
			border-radius: 1px;
			position: relative;
		}

		&-handle {
			width: 9px;
			height: 15px;
			background-color: #00b8ec;
			border-radius: 2px;
			position: absolute;
			top: -6px;
			z-index: 1;

			&_f {
				left: 9px;
			}

			&_s {
				left: 47px;
			}
		}

		&-diff {
			position: absolute;
			height: 3px;
			top: 0;
			left: 9px;
			width: 38px;
			background-color: #00b8ec;
		}

		&-values {
			width: 175px;
			display: flex;
			justify-content: space-between;
		}

		&-value {
			position: relative;
			flex-grow: 1;
			text-align: center;
			font-family: FuturaDemiC;
			font-size: 13px;
			padding-top: 12px;

			&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 2px;
				top: 0;
				right: 0;
				left: 0;
				margin: auto;
				background-color: #d9d9d9;
			}
		}
	}

	&__values {
		display: flex;
		padding-left: 10px;
	}

	&__span {
		padding: 0 10px;
		font-size: 13px;
		font-family: FuturaNewBook;
		line-height: 29px;
	}

	&__input {
		flex-basis: 40px;
		max-width: 40px;
		height: 29px;
		border: 1px solid #d9dada;
		color: #000;
		text-align: center;
		font-family: FuturaDemiC;
		font-size: 16px;
	}
}

.brand {
	background-color: #f2f2f2;
	padding: 12px 20px;

	&__label {
		display: block;
		line-height: 24px;
		height: 24px;
		position: relative;
		overflow: hidden;
		padding-left: 25px;
	}

	&__label:hover > span:before {
		box-shadow: inset 0 0 2px #f2f2f2;
	}

	&__checkbox {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__checkbox:checked + &__span {
		font-family: FuturaDemiC;

		&:before {
			background-image: url(imgs/checkbox-icon-gray.png);
			background-position: 0 0;
		}
	}

	&__span {
		font-size: 13px;
		font-family: FuturaBookC;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 15px;
			height: 15px;
			margin: auto;
			background-repeat: no-repeat;
			background-image: url(imgs/checkbox-icon-gray.png);
			background-position: 0 -15px;
		}
	}
}

main {
	flex-grow: 1;
	flex-basis: 936px;
	max-width: 936px;
}

.sorting {
	height: 38px;
	border: 1px solid #c9c8c8;
	border-radius: 2px;
	display: flex;

	&__select {
		flex-basis: 33.33%;
		border-right: 1px solid #c9c8c8;
		position: relative;

		&:last-child {
			border-right: none;
		}

		&-current {
			width: 100%;
			height: 100%;
			border: none;
			padding: 0;
			background-color: transparent;

			&:hover span{
				color: #f58220;

				&:after {
					content: '';
					border-color: #f58220;
				}
			}

			&_dropped > span:after{
				transform: rotate(135deg);
			}

			&_active {
				background-color: #f2f2f2;

				& > span {
					color: #00b8ec;

					&:after {
						border-color: #00b8ec;
					}
				}
			}

			&-span {
				font-size: 13px;
				font-family: FuturaDemiC;
				color: #262324;

				&:after {
					content: '';
					display: inline-block;
					width: 4px;
					height: 4px;
					border-width: 0 0 1px 1px;
					border-style: solid;
					border-color: #262324;
					transform: rotate(-45deg);
					margin-left: 13px;
					margin-bottom: 1px;
				}
			}
		}

		&-dropdown {
			border-radius: 2px;
			position: absolute;
			overflow: hidden;
			padding-top: 7px;
			flex-direction: column;
			display: none;
			left: 18px;
			z-index: 2;

			&:before {
				content: '';
				position: absolute;
				top: -3px;
				right: 19px;
				border-width: 5px 7px;
				border-style: solid;
				border-color: transparent transparent #514f50;
			}

			&-item {
				padding: 0 17px;
				line-height: 36px;
				background-color: rgba(0, 0, 0, 0.7);
				color: #fff;
				font-family: FuturaBookC;
				font-size: 13px;
				border: none;
				text-align: left;

				&:hover {
					background-color: rgba(0, 234, 236, 0.7);
				}
			}
		}
	}
}

.products {
	display: flex;
	flex-wrap: wrap;
	padding-top: 22px;

	&_loading:before {
		content: '';
		display: block;
		width: 182px;
		height: 182px;
		background: url(imgs/loading.gif) no-repeat;
		margin: 50px auto;
	}
}

.product {
	border: 1px solid transparent;
	padding-bottom: 9px;

	&_list {
		flex-basis: 100%;
		margin: 0 auto;
		padding-left: 7px;
		display: flex;
		height: 55px;
		align-items: center;
		overflow: hidden;
		padding-bottom: 0;
	}

	&_list > &__thumb {
		width: 40px;
	}

	&_list > &__desc {
		display: block;
	}

	&_list > &__size {
		display: none;
	}

	&_list > &__price {
		display: none;
	}

	&_list > &__order {
		margin-top: 0;
	}

	&_list &__order-hidden {
		display: flex;
		width: auto;
	}

	&_list &__x {
		display: inline;
		order: 1;
	}

	&_list &__price_hidden {
		order: 2;
		display: block;
		flex-basis: 67px;
		min-width: 67px;
	}

	&_list &__price-currency{
		padding-left: 5px;
	}

	&_list &__button_add {
		order: 3;
		background-image: none;
		padding: 0 14px;
	}

	&_list &__button-span {
		display: inline;
	}

	&_list &__button_buy {
		display: none;
	}

	&_large {
		flex-basis: 25%;
	}

	&_medium {
		flex-basis: 20%;
	}

	&_small {
		flex-basis: 14.258%;
	}

	&:hover {
		border-color: #e5e5e5;
		background-color: #f7f7f7;
	}

	&__thumb  {
		width: 100%;
		background-color: #0f0;

		&-img {
			vertical-align: top;
			width: 100%;
			height: auto;
		}
	}

	&__desc {
		display: none;
		padding-left: 20px;
		flex-grow: 1;
	}

	&__title {
		font-size: 16px;
		font-family: FuturaDemiC;
		margin-bottom: 6px;
		text-decoration: none;
		color: #262324;

		&:hover {
			text-decoration: underline;
			color: #00b8ec;
		}
	}

	&__vcode {
		font-size: 13px;
		font-family: FuturaBookC;
	}

	&__price {
		color: #685040;
		font-size: 18px;
		text-align: center;

		&-value {
			font-family: FuturaDemiC;
			margin-top: 24px;
		}

		&-currency {
			font-family: PTRoubleSans;
			font-size: 17px;
		}

		&_hidden {
			display: none;
		}
	}

	&__size {
		font-size: 13px;
		color: #262324;
		text-align: center;
		margin-top: 6px;

		&-size {
			font-family: FuturaBookC;
		}

		&-value {
			font-family: FuturaDemiC;
		}

		&-unit {
			font-family: FuturaDemiC;
		}
	}

	&__order {
		margin-top: 10px;
		display: flex;
		justify-content: center;

		&-hidden {
			display: none;
			width: 94px;
		}
	}

	&__amount {
		border: 1px solid #dedede;
		border-radius: 2px;
		text-align: center;
		font-family: FuturaDemiC;
		font-size: 16px;
		color: 000;
		height: 28px;
		flex-basis: 44px;
		max-width: 44px;
		margin-right: 6px;
	}

	&__x {
		display: none;
		padding: 3px 8px 0 13px;
	}

	&__button {
		border-radius: 2px;
		border: none;
		background-color: #f58220;
		font-family: FuturaDemiC;
		font-size: 13px;
		color: #fff;
		height: 28px;
		padding: 0;
		margin: auto;
		display: block;

		&_buy {
			width: 94px;
		}

		&_add {
			flex-basis: 44px;
			background: #f58220 url(imgs/basket-white.png) no-repeat 50% 50%;
		}

		&-span {
			display: none;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fafafa;
	padding: 29px 0;
	border-top: 1px solid #e5e5e5;

	&__link {
		font-family: FuturaDemiC;
		color: #00b8ec;
		font-size: 13px;
		position: relative;

		&:hover {
			text-decoration: none;
		}

		&_prev:before {
			content: '(alt \2190 )';
			position: absolute;
			left: -46px;
			color: #7d7d7d;
		}

		&_next:after {
			content: '(alt \2192 )';
			position: absolute;
			right: -46px;
			color: #7d7d7d;
			text-decoration: none;
		}
	}

	&__pages {
		display: flex;
		margin: 0 51px;
	}

	&__page {
		min-width: 36px;
		height: 36px;
		color: #676566;
		text-decoration: none;
		background-color: #e1e1e1;
		border-radius: 18px;
		line-height: 36px;
		text-align: center;
		font-size: 13px;
		font-family: FuturaDemiC;
		margin: 0 5px;
		border: 1px solid transparent;

		&:hover {
			border-color: #676566;
		}

		&_current {
			background-color: #00b8ec;
			color: #fff;

			&:hover {
				border-color: transparent;
				background-color: #e1e1e1;
				color: #676566;
			}
		}

		&_empty {
			background-color: transparent;
			border-color: transparent;
		}
	}
}

.phone-us {
	text-align: center;
	font-family: FuturaDemiC;
	padding: 30px 0 23px;

	&__a {
		text-decoration: none;
		font-size: 24px;
		color: #262324;

		&:hover {
			text-decoration: underline;
		}
	}

	&__text {
		font-size: 13px;
		color: #929191;
		margin-top: 11px;
	}
}

.footer {
	background-color: #403b3c;
	padding-bottom: 32px;

	&__inner {
		display: flex;
		max-width: 935px;
		margin: auto;
	}

	&__address {
		margin-bottom: 11px;
		font-family: FuturaBookC;
		margin-top: 38px;
	}

	&__phone {
		color: #fff;
		text-decoration: none;
		font-family: FuturaBookC;
	}

	&__item {
		font-size: 13px;
		color: #fff;
		overflow: hidden;
		line-height: 1;

		&_common {
			flex-basis: 263px;
		}

		&_special {
			flex-basis: 167px;
		}

		&_catalog {
			flex-basis: 338px;
		}

		&_dev {
			flex-grow: 2;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			padding-bottom: 12px;
		}

		&-header {
			font-family: FuturaDemiC;
			margin: 37px 0 24px;
		}
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;

		&-main {
			margin-top: 25px;

			& > a {
				flex-basis: 100%;
			}
		}

		&-social {
			
		}

		&-special > a {
			flex-basis: 100%;
		}

		&-catalog {
			flex-wrap: wrap;
			
			& > a {
				flex-basis: 50%;
			}
		}

		&-a {
			text-decoration: none;
			color: #fff;
			font-family: FuturaBookC;
			line-height: 38px;

			&:hover {
				text-decoration: underline;
			}

			&_social {
				flex-basis: 21px;
				height: 21px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				margin-right: 9px;
			}

			&_pinterest {
				background-image: url(imgs/pinterest.png);
			}

			&_vk {
				background-image: url(imgs/vk.png);
			}

			&_fb {
				background-image: url(imgs/fb.png);
			}
		}
	}

	&__dev {
		font-family: FuturaBookC;
		margin-right: 7px;

		&-a {
			width: 21px;
			height: 12px;
			display: inline-block;
			background: url(imgs/kr.png);
		}
	}
}

.copy {
	font-family: FuturaBookC;
	margin-top: 30px;
}